{% extends 'shared/base.html' %}
{% block content %}
    {% load bootstrap4 %}
    <div class="card m-5" style="width: 38rem;">
        <img src="{{ destination.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ destination.title }}</h5>
            <p class="card-text">{{ destination.description }}</p>
            <p class="card-text">
                <small class="text-muted">{{ destination.country }}, {{ destination.year }}</small>
                {% if destination.category %}
                    <span class="badge badge-info ml-2">{{ destination.category.name }}</span>
                {% endif %}
            </p>
            {% if can_like %}
                <a href="{% url 'destination likes' destination.id %}">
                    {% if has_likes %}
                        <i class="fa fa-heart" aria-hidden="true" style="color: red"></i>
                    {% else %}
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                    {% endif %}
                </a>
            {% endif %}
            {% if can_delete %}
                <a href="{% url 'destination edit' destination.id %}" class="btn btn-success">Edit</a>
                <a href="{% url 'destination delete' destination.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
            <p>Created by <a href="{% url 'user profile' destination.user.id %}">{{ destination.user }}</a></p>
            <hr>
            {% if can_comment %}
                <form method="post" action="{% url 'destination details' destination.id %}">
                    {% csrf_token %}
                    {{ comment_form }}
                    <button class="btn btn-primary mt-2" type="submit">Add comment</button>
                </form>
            {% endif %}
            {% if destination.comment_set.exists %}
                {% for comment in destination.comment_set.all %}
                    <div class="box">
                        <h5>{{ comment.comment }}</h5>
                        <p>Posted by: {{ comment.user }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <div class="box">
                    <h3>There are no comments for this story yet.</h3>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
