{% extends 'shared/base.html' %}
{% block content %}
    {% load bootstrap4 %}
    <div class="text-center">
        <h1>Hi, {{ user.username }}!</h1>
        {% if user.profile.profile_image %}
            <img class="rounded-circle mb-3" src="{{ user.profile.profile_image.url }}"
                 alt="Profile image"
                 width="140"
                 height="140">
        {% else %}
            <img class="rounded-circle mb-3"
                 src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg"
                 alt="Default profile image"
                 width="140"
                 height="140">
        {% endif %}
        
        <div class="w-50 m-auto">
            <div class="mb-3">
                <a href="{% url 'edit profile' %}" class="btn btn-primary">Edit Profile</a>
            </div>
            
            <div class="mb-3">
                <a href="{% url 'delete profile' %}" class="btn btn-danger">Delete Profile</a>
            </div>
            
            {% if user.profile.about_me %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">About Me</h5>
                        <p class="card-text">{{ user.profile.about_me }}</p>
                    </div>
                </div>
            {% endif %}
            
            {% if destinations %}
                <h3 class="mt-4">My Destinations</h3>
                <div class="row">
                    {% for destination in destinations %}
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                {% if destination.image %}
                                    <img src="{{ destination.image.url }}" class="card-img-top" alt="{{ destination.name }}">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ destination.name }}</h5>
                                    <p class="card-text">{{ destination.description|truncatewords:30 }}</p>
                                    <a href="{% url 'destination details' destination.pk %}" class="btn btn-primary">View Details</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No destinations added yet.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}